<h1>About</h1>

<h4>Share you ideas with the world and find others.</h4>

<p>
  We people have around 50,000-70,000 thoughts per day. They Just Vanish away.
  Those Ideas could make a better future/world. Let's Share them with others.
</p>

<p>
  Our Platform Helps you to share idea with others :) 
  <br/>Have a thought well you have got IDEATOR.
</p>