<h1>Edit Idea</h1>

<%= simple_form_for @idea, method: :patch do |f| %>
<%= f.input :description %>
  <%= f.input :author %>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="fa fa-pencil" aria-hidden="true"></i> Post
  <% end %>
<% end %>